page-invoice {
  .scroll-content {
    background-color: #F6F5FA;
    .list {
      .label {
        .title {
          font-size: 1.7rem;
          font-weight: normal;
          color: #000;
        }
      }
    }
  }
}
